# Test Classes
Mains.java

# Maven
!.mvn/wrapper/maven-wrapper.jar
target/
pom.xml.*

# Java
hs_ err_pid*
.buildpath
.classpath
.project
/bin

# VSCode
/.vscode

# Eclipse
/.settings

# Old code that i'm refactoring :)
/src/com/github/_hazork/*