# Test Classes
Mains.java

# Maven
!.mvn/wrapper/maven-wrapper.jar
/dependency-reduced-pom.xml
target/
pom.xml.*

# Java
hs_ err_pid*
.buildpath
.classpath
.project
/bin

# VSCode
/.vscode

# Eclipse
/.settings
/.metadata
/.factorypath